/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

.flex-navegador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: #dadada;
    position: fixed;
    background-color: white;
}

.flex-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

.menu {
    text-align: center;
    vertical-align: middle;
    width: 150px;
    font-size: large;
    font-family: 'Nimbus Sans L', sans-serif;
    color: rgb(151, 149, 149);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

#logo-nav {
    margin-left: 2.8%;
    width: 7.5%;
    height: 7.5%;
}
#workspace{
    border-style: solid;
    border-color: rgb(151, 149, 149);
    border-radius: 10%;
}


