/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

.flex-navegador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: #F4F3F4;
}

.flex-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

.menu {
    justify-items: center;
    text-align: center;
    width: 150px;
    font-size: large;
}

#logo-nav {
    margin-left: 5.2%;
    width: 8%;
    height: 8%;
}


