/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

.flex-navegador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgb(192, 190, 190);
    border-top: 1px solid rgb(192, 190, 190);
}

.flex-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu {
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 100spx;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(109, 108, 108);
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 10px;
}

#logo-nav {
    margin-left: 4%;
    width: 7.5%;
    height: 7.5%;
}
#workspace{
    width: 140px;
    border-style: solid;
    border-color: rgb(151, 149, 149);
    border-radius: 7%;
    margin-left:30px;
    margin-right:80px;
}
.flex-header {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#img-header {
    align-items: center;
    vertical-align: middle;
    width: 34%;
    margin-left: 5%;
    margin-right: 10%;
    

}

.header-texto {
    width: 1000px;
    margin-right: 170px;
    margin-bottom:40px;
} 
#titulo-header {
    height: 200px;
    font-size: 85px;
    font-weight:3000;
    color:rgb(61, 63, 77);
    margin: 0;
}
#paragrafo-header{
    color: rgb(109, 108, 108);
    width:600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom:30px;
}
#button-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    background-color: #303ba3;
    padding: 20px;
    border-radius: 5px;
    border: none;
    width:180px;
    
}
.sign-in-header{
    color: rgb(109, 108, 108);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.flex-main{
    display: flex;
    flex-direction: column;
}

.flex-logo{
    display: flex;
    flex-direction: column;
    object-fit:scale-down;
}